body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    margin: 20px auto;
    text-align: center;
    max-width: 500px;
}

input[type="file"] {
    padding: 10px;
    margin: 10px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    background-color: #fff;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: center;
}

th {
    background-color: #f4f4f4;
}

a {
    text-decoration: none;
    color: #007BFF;
    display: block;
    text-align: center;
    margin-top: 20px;
}
